.home-page { 
    display: flex;
    align-items: flex-start; 
    margin-top: 100px; 
    max-height: 500px; 
    overflow: hidden; 

    .text-zone { 
        position: relative; 
        left: 10%; 
        top: -50px; 
        width: 40%; 
        max-height: 90%; 
        overflow: hidden; 
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start; 

        h1 {
            margin-top: 0; 
            margin-bottom: 2px; 
        }

        h2 { 
            margin-top: 2px; // Further reduced margin
        }

        .flat-button { 
            margin-top: 5px; // Adjusted to bring it closer
        }
    }

    h1 {
        color: #fff; 
        font-size: 53px; 
        margin: 0; 
        font-weight: 400; 
        cursor: pointer;
        line-height: 1.1; 

        &::before { 
            color: #ffd700; 
            font-size: 18px; 
            position: absolute; 
            margin-top: -40px; 
            left: 15px; 
            opacity: 0.6; 
        }

        &::after { 
            color: #ffd700; 
            font-size: 18px; 
            position: absolute; 
            margin-top: 18px; 
            left: 20px; 
            animation: fadeIn 1s 1.7s backwards; 
            opacity: 0.6; 
        }

        img { 
            width: 200px; 
            opacity: 1;
            height: auto; 
        }
    }

    h2 { 
        color: #ade8f4; 
        margin-top: 2px; // Reduced margin even more
        font-weight: 500; 
        font-size: 11px; 
        font-family: sans-serif; 
        letter-spacing: 3px; 
        animation: fadeIn 1s 1.8s backwards; 
    }

    .flat-button { 
        color: #ffd700; 
        font-size: 15px; 
        font-weight: 800;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 10px 18px; 
        border: 2px solid #ffd700; 
        margin-top: 3px; 
        float: left; 
        animation: fadeIn 1s 1.8s backwards; 
        white-space: nowrap; 
        width: 138px;

        &:hover { 
            background: #ffd700; 
            color: #333;
        }
    }

    .model-zone {
        width: 50%; 
        height: 450px; 
        margin-left: 100px; 
        margin-top: -30px; 
        overflow: hidden; 
    }
}

@media screen and (max-width: 1000px) {
    .home-page {
        flex-direction: column; 
        align-items: center;
        margin-top: 0; 

        .text-zone {
            width: 90%; 
            position: static;
            left: auto; 
            top: auto; 
            margin-bottom: 20px; 
            padding-top: 20px; 
        }

        .model-zone {
            width: 90%; 
            height: 300px; 
            margin-left: 0;
            margin-top: 0;
        }
    }
}
