.drivers-page {
    padding-left: 100px;
    padding-right: 50px;
    width: calc(100% - 150px);
    position: initial;
    height: 100%;
    overflow: auto;

    h1.page-title {
        margin-top: 120px;
        color: #fff;
        text-align: center;
    }

    .images-container {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
        padding-bottom: 100px;
        margin-left: 50px;
    }

    .image-box {
        position: relative;
        flex: 1 1 20%;
        height: auto;  
        overflow: hidden;
        border-radius: 10px;
        max-width: calc(20%);
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .drivers-image {
            width: 100%;
            height: auto; 
            max-height: 250px;  
            object-fit: cover;
            z-index: 1;
        }

        .content {
            width: 100%;
            z-index: 2;
            padding: 10px 20px;
            background: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px; 
        }

        .title {
            color: #fff;
            font-size: 20px; 
            font-weight: 500;
            line-height: 24px;
            text-align: center;
            z-index: 3;
        }

        .description {
            font-size: 14px;
            color: #fff;
            font-weight: 700;
            margin-top: 5px;
            text-align: center;
        }

        .btn {
            margin-top: 10px;  
            padding: 0 23px;
            height: 40px;
            line-height: 34px;
            border: 2px solid #ffd700;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
            background: transparent;
            text-transform: uppercase;
            font-weight: 700;
            cursor: pointer;
            z-index: 3;
        }

        .btn:hover {
            background: #ffd700;
            color: #333;
        }
    }
}

@media screen and (max-width: 1100px) {
    .container.drivers-page {
        .images-container {
            margin-left: -50px;
        }
    }
}

@media screen and (max-width: 700px) {
    .container.drivers-page {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;

        h1.page-title {
            margin-top: 20px;
            text-align: center;
        }

        .image-box {
            height: auto; 
            max-width: calc(50% - 10px);
        }

        .images-container {
            display: flex;
            flex-direction: column;
            gap: 15px;
            padding-bottom: 100px;
            margin-left: -10px;
            width: 90vh;
            height: 55vh;
        }
    }
}
